[submodule "sam-cloud"]
	path = sam-cloud
	url = https://github.com/morasp/sam-cloud.git
[submodule "api"]
	path = api
	url = https://github.com/morasp/sam-api.git
[submodule "app"]
	path = app
	url = https://github.com/MarinaStumpp/SAM_APP.git
[submodule "SAM-Action-backend"]
	path = SAM-Action-backend
	url = git@github.com:morasp/SAM-Action-backend.git
[submodule "sam-kb"]
	path = sam-kb
	url = git@github.com:morasp/sam-kb.git
