.sidebar{
    border-right: 1px solid rgba(0,0,0,.1);
    height: calc(100vh - 4rem);
    position: sticky;
    top:4rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar .title{
    font-weight: 600;
    text-decoration: none;
    color: rgba(0,0,0,.85);
}
.sidebar .item{
    color: rgba(0,0,0,.6);
}
.sidebar-group{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.dev-list{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.selected{
    text-decoration: underline;
    color: rgba(0,0,0,.85) !important;
}

@media (min-width: 768px) {
    .sidebar{
        display: flex !important;
    }
    .dev-select-sm{
        display:none !important;
    }
}
.dev-select-sm{
    margin-top: 5px;
    margin-bottom: 30px;
}
