@import "colors.css";
@import "sidebar.css";
@import "actionContainer.css";
body{
    height: 100%;
}
header{
    height: 4rem;
}
nav{
    height: 4rem;
}
.navbar-brand img{
    height: 3rem;
    margin:0 auto;
    margin-right: 5px;
}
.card{
    min-width: 200px;
}